body {
	background-color: #d67012;
	margin: 0;
}

#wrapper {
	/*width: 90%;*/
	/*margin-left: auto;
	margin-right: auto;*/
	/*padding: 1.5em;*/
	background-color: white;
	padding-right: 1em;
	/*border-radius: 5px;*/
}

input {
	width: 3.5em;
	display: inline-block;
}

label {
	padding-right: 1em;
	display: inline-block;
	min-width: 5.5em;
}

h1 {
	color: #452207;
	margin: auto;
}

h3 {
	color: #a29183
}

img {
	float: left;
	width: 45%;
	/*margin-left: none;*/
	margin-right: auto;
	height: auto;
	padding-right: 1em;
}

footer {
	color: #a29183;
	font-size: small;
}


.hidden {
	display: none;
}

/*CalculateButton*/
#result {
	margin: auto;
	width: 25%;
	color: #452207;
	font-weight: bold;
	background-color: #d67012;
	border: none;
	border-radius: 5px;
	
	padding: 0.45em;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
