/*Hannah Prosch*/

/*Mobile & Universal Styles First*/
html, body {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

body {
	background-color: #d67012;
	background-image: url("/static/kibbles.png");
	margin: 0;
}

#wrapper {
	background-color: white;
	background: rgba(255,255,255,0.75);
	height: auto;
	padding: 1em;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

input {
	width: 3.5em;
	display: inline-block;
	text-align: right;
}

label {
	padding-right: 1em;
	display: inline-block;
	min-width: 5.5em;
}

table {
	border-collapse: collapse;
	text-align: left;
}

th {
	background-color: #d67012;
	color: #452207;
}

th, td {
	padding: 0.5em;
}

tr:nth-child(odd){background-color: #faf0e7}
tr:nth-child(even){background-color: white}

h1 {
	color: #452207;
	margin: auto;
	text-align: center;
}

h3 {
	color: #452207;
	text-align: center;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

img {
	display: none;
}

footer {
	color: #452207;
	font-size: small;
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
}

.hidden {
	display: none;
}

/*CalculateButton*/
#result {
	margin: auto;
	width: 100%;
	color: #452207;
	font-weight: bold;
	background-color: #d67012;
	border: none;
	border-radius: 5px;
	text-align: center;
	
	padding: 0.45em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*Tablet-Sized Styles*/
@media only screen and (min-width: 35em) {
	body {
		opacity: 1;
		background-image: none;
	}
	#wrapper {
		background: rgba(255,255,255,1);
		padding: 0;
		position: relative;
		top: 0;
		-ms-transform: translateY(0%);
		transform: translateY(0%);

		height: 50%;



		/*position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);*/
	}
	img {
		display: inline;
		float: left;
		width: 45%;
		margin-right: auto;
		height: auto;
		padding-right: 1em;
	}
	h1 {
		text-align: left;
	}
	#result {
		width: 12.5em;
	}
}

/*Desktop Styles*/
@media only screen and (min-width: 65em) {
	#wrapper {
		padding-right: 1em;
	}
	img {
		height: 100%;
	}
}
