/*Hannah Prosch*/

/*Mobile & Universal Styles First*/
body {
	background-color: #d67012;
	background-image: url("/static/kibbles.png");
	/*opacity: 0.75;*/
	margin: 0;
}

#wrapper {
	background-color: white;
	background: rgba(255,255,255,0.75);
	/*padding-right: 1em;*/
	/*background-image: url("/static/kibbles.png");
	opacity: 0.75;*/
	height: auto;
	padding: 1em;
}


input {
	width: 3.5em;
	display: inline-block;
}

label {
	padding-right: 1em;
	display: inline-block;
	min-width: 5.5em;
}

h1 {
	color: #452207;
	margin: auto;
}

h3 {
	color: #a29183
}

img {
	display: none;
}

footer {
	color: #a29183;
	font-size: small;
}


.hidden {
	display: none;
}

/*CalculateButton*/
#result {
	margin: auto;
	width: 25%;
	color: #452207;
	font-weight: bold;
	background-color: #d67012;
	border: none;
	border-radius: 5px;
	
	padding: 0.45em;

	opacity: 1;

	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

/*Tablet-Sized Styles*/
@media only screen and (min-width: 35em) {
	body {
		opacity: 1;
		background-image: none;
	}
	img {
		display: inline;
		float: left;
		width: 45%;
		margin-right: auto;
		height: auto;
		padding-right: 1em;
	}
	#wrapper {
		/*background-image: none;*/
		background: rgba(255,255,255,1);
		padding: 0;
	}
}

/*Desktop Styles*/
@media only screen and (min-width: 65em) {
	#wrapper {
		padding-right: 1em;
	}
}
