<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pet Food Dry Matter Basis Calculator</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<div id="wrapper">
			<main>
				<h1>Pet Food Dry Matter Calculator</h1>

				<p>Enter the as-fed guarenteed analysis from the ingredient label to calculate the percentages in a dry matter basis.</p>

				<br>

				<img src="{{ url_for('static', filename='kibbles.png')}}" />

				<br>

				<h3>As-fed Basis</h3>

				<form action="result" method="post">
					<label for="protein">Protein:</label>
					<input type="number" name="protein_input" placeholder="%" step="0.01" id="asProtein" required>

					<br>

					<label for="fat">Fat:</label>
					<input type="number" name="fat_input" placeholder="%" step="0.01" id="asFat" required>

					<br>
					<label for="fiber">Fiber:</label>
					<input type="number" name="fiber_input" placeholder="%" step="0.01" id="asFiber" required>
					
					<br>

					<label for="moisture">Moisture:</label>
					<input type="number" name="moisture_input" placeholder="%" step="0.01" id="asMoisture" required>
					
					<br>

					<label for="phospherous">Phospherous:</label>
					<input type="number" name="phospherous_input" placeholder="%" step="0.01" id="asPhospherous">

					<br>

					<input type="submit" value="Calculate" id="result">
				</form>

				<h3>Dry Matter Basis</h3>
				{% for message in get_flashed_messages() %}
					<p>{{message}}</p>
				{% endfor %}

			</main>
			<script src="../static/js/script.js"></script>
		</div>
	</body>
</html>